<?xml version="1.0" encoding="UTF-8"?>
<!-- This file was created by html2pdf1 workflow, which is free software licensed under the GNU Affero General Public License 3 or any later version (see https://github.com/skreutzer/automated_digital_publishing/). -->
<file-picker1-config>
  <extension extension="html">HTML input file (.html)</extension>
</file-picker1-config>
